@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

img {
  margin: 0;
}

h1 {
  font-size: 32px;
  font-weight: 300;
  line-height: 40px;
  margin: 0;
}

h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  margin: 0 0 10px;
}

p {
  margin-top: 0;
}

core-animated-pages {
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  overflow: hidden;
}

core-animated-pages > * {
  background-color: white;
  padding: 16px;
  overflow-y: auto;
}

body /deep/ core-scaffold core {
  background-color: #183c4f !important;
}

body /deep/ core-toolbar {
  background-color: #183c4f !important;
  color: #fff !important;
}

nav {
  height: 100%;
}

core-menu {
  color: #01579b;
  height: 92%;
  margin:  0;
  overflow-y: auto;
}

core-menu > chartbook-item {
  transition: all 300ms ease-in-out;
}

core-menu > chartbook-item.chapter-item {
  background-color: #366899;
  color: #fff;
  font-weight: 700;
  letter-spacing: 3px;
  padding: 20px 12px;
  text-transform: uppercase;
}

core-menu > chartbook-item.core-selected {
  background: #e1f5fe;
}

core-menu > chartbook-item.core-selected.chapter-item {
  background-color: #5e96cd;
  color: #fff;
}

.page-container {
  margin: 0 auto;
  width: 70%;
}

.wide {
  width: 100%;
}

.square {
  float: left;
  width: 60%;
  margin: 0 10px 0;
}

.callout {
  color: #085197;
  font-size: 15px;
  font-weight: 700;
}

.chapter {
  background-size: cover;
  color: #fff;
}

.chapter h1 {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 5px;
  line-height: 28px;
  text-transform: uppercase;
}

.chapter h2 {
  font-size: 32px;
  font-weight: 300;
  line-height: 48px;
  margin: 0 0 20px;
  text-transform: uppercase;
}

.chapter-body {
  column-count: 2;
  column-gap: 20px;
  -moz-column-count: 2;
  -moz-column-gap: 20px;
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
}

@media all and (max-width: 600px) {
  h1 {
    font-size: 24px;
    line-height: 28px;
  }

  h2 {
    font-size: 18px;
    line-height: 26px;
  }

  core-animated-pages {
    width: 100%;
    height: 100%;
  }

  .page-container {
    margin: 0;
    width: 100%;
  }

}

@media all and (max-width: 1000px) {
  .square {
    float: none;
    width: 100%;
  }

  .chapter-body {
    column-count: 1;
    -moz-column-count: 1;
    -webkit-column-count: 1;
  }
}